
Question 1
Écrivez un programme qui trouvera tous ces nombres qui sont divisibles par 7 mais ne sont pas un multiple de 5, entre 2000 et 3200 (tous deux inclus). Les nombres obtenus doivent être imprimés dans une liste.

In [1]:
Numbers=[x for x in range (2000, 3201) if x % 7== 0 and x% 5 != 0]

print(Numbers)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Question 2 
Ecrivez un programme qui peut calculer la factorielle d'un nombre donné. (la factorielle de n est le produit de tous les nombres entiers positifs inférieurs ou égaux à n). par exemple factoriel (5) = 5 x 4 x 3 x 2 x 1 le résultat est 120. (ie factoriel (0) = 1)

In [4]:
def fact(n):
   if n == 1:
       return n
   else:
       return n*fact(n-1)

n = 8

if n < 0:
    print("Error")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of", n, "is", fact(n))

The factorial of 8 is 40320

question 3 
Avec un nombre entier donné n, écrivez un programme pour générer un dictionnaire contenant (i, i * i) tel qu'un nombre entier compris entre 1 et n (tous deux inclus). puis le programme doit imprimer le dictionnaire. Supposons que l'entrée suivante soit fournie au programme: 8 Ensuite, la sortie doit être: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64 }

In [5]:
n = int()
squares = {i : i*i for i in range(1, 9)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 4 

Étant donné une chaîne non vide et un int n, retourne une nouvelle chaîne où le caractère à l'index n a été supprimé. La valeur de n sera un index valide d'un caractère dans la chaîne d'origine (c'est-à-dire que n sera compris entre 0..len (str) -1 inclus). 

missing_char ('kitten', 1) → 'ktten' par exemple ici on supprime "i" qui se trouve dans l'index 1

missing_char ('chaton', 0) → 'itten' ici on supprime "k" qui est dans l'index 0

missing_char ('chaton', 4) → 'kittn' ici on supprime "e" qui est dans l'index 4

In [6]:
def missing_char(str, n):
      first_part = str[:n] 
      last_part = str[n+1:]
      return first_part + last_part
    
print(missing_char('kitten', 1))
print(missing_char('kitten', 0))
print(missing_char('kitten', 4))

ktten
itten
kittn

Question 5 

Ecrivez un programme NumPy pour convertir un tableau NumPy en une structure de liste Python.

In [7]:
import numpy as np

x=np.array([[0,1],[2,3],[4,5]])

print("Original array elements:",x)

print ("Array to list:",x.tolist())

Original array elements: [[0 1]
 [2 3]
 [4 5]]
Array to list: [[0, 1], [2, 3], [4, 5]]

Question 6

Ecrivez un programme NumPy pour calculer la matrice de covariance de deux tableaux donnés. 

Tableau original1: [0 1 2] 

Tableau original2: [2 1 0] 

Matrice de covariance desdits tableaux: [[1. -1.] [-1. 1.]]

In [8]:
import numpy as nm
x=np.array([0,1,2])
y=np.array([2,1,0])

print("Original array1 :",x)
print("Original array2 :",y)

np.cov(x,y)

Original array1 : [0 1 2]
Original array2 : [2 1 0]

array([[ 1., -1.],
       [-1.,  1.]])

Question 7

Question: Écrivez un programme qui calcule et imprime la valeur selon la formule donnée: Q = Racine carrée de [(2 * C * D) / H] 

Voici les valeurs fixes de C et H: C est 50. H est 30. 

D est la variable dont les valeurs doivent être entrées dans votre programme dans une séquence séparée par des virgules. (cela signifie que D contient plus que la valeur)

In [11]:
import math

C=50
H=30

result = []
items=[x for x in input("Enter the D value ").split(',')]
for D in items:
    result.append(str(int(round(math.sqrt(2*C*float(D)/H)))))

print(','.join(result))

Enter the D value 100,150,180
18,22,24